// colors.scss
// All project color variables

$border-color: #f7eb80;      // outer border color
$left-bg-color: #6e7a5b;     // big left panel
$right-bg-color: #a6ad80;    // right panel
$text-color: #ffffff;        // white text
$button-bg-color: #dcf829;   // bright button color
$page-bg-color: #ffffff;     // page background