// colors.scss
// Color variables from homework slide

$yellow-border: rgb(218, 170, 14);
$yellow-button: rgb(170, 240, 113);
$bright-green: rgb(127, 236, 55);

$body-grey: rgb(212, 213, 216);
$card-grey: rgb(255, 255, 255);

$link-blue: rgb(58, 107, 212);
$text-dark: rgb(49, 49, 48);
$white: rgb(255, 255, 255);