/* Nest Nav */

header {
  background-color: $white;
  padding: 1rem 0;

  nav {
    max-width: 1100px;
    margin: 0 auto;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 0.5rem;
      font-size: 0.9rem;
      font-family: Arial, Helvetica, sans-serif;

      li {
        color: $text-dark;

        // add " | " after each item except the last
        &::after {
          content: "|";
          margin-left: 0.5rem;
        }

        &:last-child::after {
          content: "";
        }

        a {
          text-decoration: none;
          color: $link-blue;
        }
      }
    }
  }
}