<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>

    <form action="/login" method="POST">
      <div>
        <label for="username">Username</label><br />
        <input
          type="text"
          id="username"
          name="username"
          required
        />
      </div>

      <div>
        <label for="password">Password</label><br />
        <input
          type="password"
          id="password"
          name="password"
          required
        />
      </div>

      <div>
        <button type="submit">Log In</button>
      </div>
    </form>

    <p>
      Don't have an account?
      <a href="/register">Register</a>
    </p>

    <p>
      <a href="/">Back to Home</a>
    </p>
  </body>
</html>
